### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Output ###
.mvn
mvnw
mvnw.cmd

target/
out/
node_modules/
src/main/resources/static/built/**
index.html

### Log files ###
*.log
