@import url('https://fonts.googleapis.com/css?family=Lobster|Roboto:300,400,500|Source+Sans+Pro:400,700|Ubuntu:400,700&subset=cyrillic-ext,latin-ext');

.default-fonts {
    --primary-font-family: 'Ubuntu', 'Raleway', sans-serif;
    --secondary-font-family: 'Source Sans Pro', sans-serif;
    --additional-font-family: 'Lobster', cursive;

    --default-font-size: 16px;
    --small-font-size: 12px;
    --medium-font-size: 18px;
    --big-font-size: 20px;
    --biggest-font-size: 24px;
}