@import url("https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css");

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  min-height: 100%;
}

.layout {
    padding: 50px 10px 50px 10px;
}

.dynamic-area {
    padding-top: 20px;
}

.entity-view__container {

}

.entity-view__container__name-bar {

}

.entity-view__container__name-bar__name {

}

.entity-view__container__name-bar__name__title {

}

.entity-view__container__name-bar__name__additional {

}

.entity-view__container__name-bar__like {

}

.entity-view__container__image {

}

.entity-view__container__description {

}

.comments__container {

}

.comments__container__form {

}

.comments__container__list {

}

