!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Output ###
.mvn
mvnw
mvnw.cmd
target/
out/
src/main/resources/static/built/**
.database/

### Log files ###
*.log