/* List of entities */

.entity-list {
    display: flex;
    flex-direction: column;
}

.entity-list__header {
    display: flex;
    justify-content: center;
}

.entity-list__items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

@media (max-width: 500px) {
    .entity-list__item > img {
        max-width: 100%;
        height: auto;
    }
}

.entity-list__footer {

}
